doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mini Game

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/css/bootstrap.min.css')
  body.index

    article

      section
        h1 Mini Game

      section
        h2 Choose your game
          br
          br
          .row
            .col-md-6
              button.btn.btn-primary
                a(href='Music_Tap.php')
                  p test0
            .col-md-6
              button.btn.btn-primary test2
          br
          .row
            .col-md-6
              button.btn.btn-primary test3
            .col-md-6
              button.btn.btn-primary test3

  script(src='build/build.js')
  script(src='src/scripts/main.js')
  script(src='build/jquery/jquery.min.js')
  script(type='text/javascript' src='build/js/bootstrap.min.js')
  script(type='text/javascript')