// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
//@import 'bootstrap.min.css'
// Check out "bower_components/prism/themes/" for available themes
body.index article.bespoke-parent
	background-color black
body.index .bespoke-slide
	color white
	background-color black
body.index button.btn.btn-primary
	background-color rgba(51, 122, 183, 0.5)
	padding 0
	width 100%
	height 100px
body.index button a
	display block
	width 100%
	height 100%
	color white
body.index button a p
	margin 0
	position absolute
	height 20%
	width 40%
	top: 40%
	left: 30%
body.index button a:hover
	color lightblue
	text-decoration none