doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mini Game

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/css/bootstrap.min.css')

  body

    article
      section
        AB

  script(src='build/build.js')
  script(src='build/jquery/jquery.min.js')
  script(type='text/javascript' src='build/js/bootstrap.min.js')